<footer>
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-lg">
                <h5 class="text-light text-center">© 2021 DiamNet Limited</h5>
            </div>
            <div class="col-lg">
                <div class="row align-items-center">
                    <ul class="text-center ">
                        <li>
                            <a href="#" target="_blank"
                               title="Follow Us on Instagram"><span>
                                <i class="fab fa-facebook-square"></i>
                            </span></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                               title="Follow Us on Facebook"><span>
                                <i class="fab fa-twitter-square"></i>
                            </span></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"
                               title="Follow Us on Twitter"><span>
                                <i class="fab fa-whatsapp-square"></i>
                            </span></a></li>
                        <li>
                            <a href="#" target="_blank"
                               title="Follow Us on instagram"><span>
                                <i class="fab fa-instagram"></i>
                            </span></a></li>
                        <li>
                            <a href="#" target="_blank"
                               title="Follow Us on YouTube"><span>
                                <i class="fab fa-youtube-square"></i>
                            </span></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>